<br/>
<div class="jumbotron">
  <h1>Welcome to Blocipedia</h1>
  <h3><em>Create Ideas, Share with Others, Collaborate</em></h3>
  <img src="https://upload.wikimedia.org/wikipedia/en/9/97/Bloc-logo-rectangle-grey.jpg", width="120", height="60">
</div>

<div class='row col-md-6'>
  <a href="<%= new_user_registration_path %>" class='btn btn-primary btn-lg' role='button'>
    Sign up here!
  </a>
</div>
